@font-face {
    font-family: 'FB Web Use Only';
    src: url('Munged-FeRJttgytI.woff2') format('woff2'),
        url('Munged-FeRJttgytI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

